body {
  font-family: helvetica;
}

.container {
  background-color: #21A581;
  height: 100%;
  width: 100%;
  position: fixed;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
}

.boardTitle {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  clear: left;
  margin-bottom: 1em;
  font-size: 3em;
}


.input {
  text-align: center;
  margin: 0 auto;
  width: 27%;
}

.clear {
  clear: both;
  background-color: pink;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

.column {
  height: 36em;
  width: 20em;
  float: left;
  background-color: #62d5b4;
  margin: auto;
}

.columnTitle {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0px 15px 0px;
  font-weight: heavy;
}

.todo {

}

.progress {

}

.done {

}

.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  background-color: #6B9BD5;
  border: 1px solid black;
  position: relative;
}

.delete {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.Title {
  background-color: violet;
}

.message {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #FA9AAD;
}