<head>
  <title>Kanban-Krazy</title>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>

<body>

</body>

<template name="layout">
  <div class="container">
    <div class="boardTitle">Kanban Board!</div>
    <div class="nav">
      {{> loginButtons}}
    </div>
    <div class="clear"></div>
    {{> yield}}
  </div>
</template>

<template name="main">
  <h1>This is main</h1>
</template>

<template name="dashboard">
  <div class="input">
    <input type="text" id="title" maxlength="20" placeholder="Title">
    <input type="text" id="message" maxlength="25" placeholder="Message">
    <span>
      <a href="#" id="submit">Submit</a>
    </span>
  </div>
  <div class="wrapper">
  <!-- <div class="clear"></div> -->
    {{> todo}}
    {{> progress}}
    {{> done}}
    <div class="clear"></div>
  </div>
</template>

<template name="todo">
  <div class="column todo" ondragover="event.preventDefault()">
    <h2 class="columnTitle">To Do</h2>
    {{#each todo}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="progress">
  <div class="column progress" ondragover="event.preventDefault()">
    <h2 class="columnTitle">In Progress</h2>
    {{#each progress}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="done">
  <div class="column done" ondragover="event.preventDefault()">
    <h2 class="columnTitle">Done</h2>
    {{#each done}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="card">
  <div class="card" draggable="true">
    <div class="cardWrapper">
      <p class="title" ondblclick="this.contentEditable=true" onblur="this.contentEditable=false" contenteditable= "false">
       {{title}}
      </p>

      <p class="message" ondblclick="this.contentEditable=true" onblur="this.contentEditable=false" contenteditable= "false">
       {{message}}
      </p>
    </div>
    <div class="delete">X</div>
  </div>
</template>

<template name="addUserForm">
  {{#if currentUser}}
    <form>
      <input type="text" name="user">
      <input type="submit" value="addUser">
    </form>
  {{/if}}
</template>

<!-- <template name="login">
  <h1>Login Page</h1>
  <div id="login">
    {{> loginButtons}}
  </div>
</template> -->