<head>
  <title>Kanban-Krazy</title>
</head>

<body>

</body>

<template name="layout">
  <h1>Hello!!!!1</h1>
  <div class="nav">
    {{> loginButtons}}
  </div>
  <div class="container">
    {{> yield}}
  </div>
</template>

<template name="main">
  <h1>This is main</h1>
</template>

<template name="dashboard">
  This is dashboard!!!!3
  <div class="input">
    <span>
      <input type="text" id="message" maxlength="25">
    </span>
    <span>
      <a href="#" id="submit">Submit</a>
    </span>
  </div>
  <div class="clear"></div>
  <div class="wrapper">
    <div class="todo">
      {{> todo }}
    </div>
    <div class="progress">
      {{> progress }}
    </div>
    <div class="done">
      {{> done }}
    </div>
  </div>
</template>

<template name="todo">
  {{#each todo}}
    {{> card }}
  {{/each}}
</template>

<template name="progress">
  {{#each progress}}
    {{> card }}
  {{/each}}
</template>

<template name="done">
  {{#each done}}
    {{> card }}
  {{/each}}
</template>

<template name="card">
  <div class="card">
    <div class="message">
      {{message}}
    </div>
  </div>
</template>

<template name="addUserForm">
  {{#if currentUser}}
    <form>
      <input type="text" name="user">
      <input type="submit" value="addUser">
    </form>
  {{/if}}
</template>

<!-- <template name="login">
  <h1>Login Page</h1>
  <div id="login">
    {{> loginButtons}}
  </div>
</template> -->