<head>
  <title>Kanban-Krazy</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>

</body>

<template name="layout">
  <div class="nav">
    {{> loginButtons}}
  </div>
  <div class="container">
    <h1>Kanban Board!</h1>
    {{> yield}}
  </div>
</template>

<template name="main">
  <h1>This is main</h1>
</template>

<template name="dashboard">
  This is dashboard!!!!3
  <div class="input">
    <span>
      <input type="text" id="title" maxlength="20" placeholder="Title">
    </span>
    <span>
      <input type="text" id="message" maxlength="25" placeholder="Message">
    </span>
    <span>
      <a href="#" id="submit">Submit</a>
    </span>
  </div>
  <!-- <div class="clear"></div> -->
  <div class="wrapper">
    {{> todo}}
    {{> progress}}
    {{> done}}
    <div class="clear"></div>
  </div>
</template>

<template name="todo">
  <div class="column todo" ondragover="event.preventDefault()">
    {{#each todo}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="progress">
  <div class="column progress" ondragover="event.preventDefault()">
    {{#each progress}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="done">
  <div class="column done" ondragover="event.preventDefault()">
    {{#each done}}
      {{> card }}
    {{/each}}
  </div>
</template>

<template name="card">
  <div class="card" draggable="true">
    <p class="title" ondblclick="this.contentEditable=true" onblur="this.contentEditable=false" contenteditable= "false">
     {{title}}
    </p>

    <p class="message" ondblclick="this.contentEditable=true" onblur="this.contentEditable=false" contenteditable= "false">
     {{message}}
    </p>
    <div class="delete">x</div>
  </div>
</template>

<template name="addUserForm">
  {{#if currentUser}}
    <form>
      <input type="text" name="user">
      <input type="submit" value="addUser">
    </form>
  {{/if}}
</template>

<!-- <template name="login">
  <h1>Login Page</h1>
  <div id="login">
    {{> loginButtons}}
  </div>
</template> -->