$rem-base: 16px;

//imports

@import 'partials/reset';
@import 'partials/colors';
@import 'partials/functions';

// styles

body {
  font-family: 'Press Start 2P', Helvetica;
}

.container {
  background-color: $primary;
  height: 100%;
  width: 100%;
  position: fixed;
}

.nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.boardTitle {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  clear: left;
  // margin-bottom: rem-calc(10px);
  margin-bottom: 10px;
  font-size: 30px;
  margin-top: 1em;
  color: $cardColor;
}


.input {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

.column {
  height: 36em;
  width: 20em;
  float: left;
  background-color: $secondary;
  margin: auto;
}

.columnTitle {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0px 15px 0px;
  font-weight: heavy;
}

.todo {

}

.progress {

}

.done {

}

.card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  background-color: $cardColor;
  border: 1px solid black;
  position: relative;
}

.cardWrapper {
  width: 85%;
  margin: 0 auto;

  background-color: $cardWrapper;
}

.delete {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.title {
  line-height: 2;
}

.message {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: $primary;
}